//主价格
function mainPrice(price,discountPrice){
  if(!discountPrice){
    return {
    display:true,
    price:price
    }
  }else{
    return {
      display:true,
      price:discountPrice
    } 
  }

}
//折线划线价
function slashedPrice(price,discountPrice){
  if(discountPrice){
    return {
      price:price,
      display:true
    }
  }else{
    return {
      price:null,
      display:false
    }
  }
}
module.exports ={
  mainPrice:mainPrice,
  slashedPrice:slashedPrice
}